.container{
 
    height: 325px;
}

.container h4 {
    font-family: 'Zilla Slab', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5em;
    text-align: center;
    color: #EAEAEA;
    margin-left: 60px;
    margin-right: 60px;
}

.inputContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.inputContainer label {
    font-family: 'Zilla Slab', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.25em;
    line-height: 24px;
    color: #EAEAEA;
    padding-bottom: 20px;
}

.inputContainer label input {
    height: 30px;
}
.inputContainer button {
    background: #121212;
    border: 1px solid #740000;
    width: 146px;
    height: 29px;
    font-family: 'Zilla Slab', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #EAEAEA;
    cursor: pointer;
}


.link {
    overflow-wrap: break-word;
    word-break: break-all;
    max-width: 100%;
    margin-right:80px;
    margin-left:80px;
    padding-top: 20px;
  }

.link p{
    color: #EAEAEA;
}


@media only screen and (max-width: 650px) {
    .link {
        margin-right:30px;
        margin-left:30px;
        padding-top: 20px;
      }
    .container{
        height: 420px;
    }

    .container h4 {
        font-size: 1.2em;
    }
  }
  

  @media only screen and (max-width: 415px) {
    .container{
        height: 500px;
    }
  }