.textContainer {
    background-color: #3A3A3A;
    height: 211px;
    padding-top: 1px;   
}

.textContainer h1 {
    margin-top: 40px;
    font-family: 'Zilla Slab', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2.25em;
    color: #FFFFFF;
    text-align: center;
}

.textContainer p{
    font-family: 'Zilla Slab', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.25em;
    text-align: center;
    color: #FFFFFF;
    width: 70%;
    margin: auto;
}

.courseContainer {
    background-color: #272727;
    height: 922px;
    margin-top: -1px;
    border-bottom: 3px solid #740000;
}

@media only screen and (max-width:805px){
   
    .courseContainer {
        height: 1690px;
    }
    

}

@media only screen and (max-width:768px){

    .textContainer p{
        width: 80%;
    }

}

@media only screen and (max-width:643px){

    .textContainer {
        height: 281px;
    }

    .textContainer h1 {
        margin-top: 30px;
    }
}

@media only screen and (max-width:420px){
   
    .courseContainer {
        height: 1340px;
    }

}