.container {
    justify-content: center;
    margin: auto;
    text-align: center;
}
.logoContainer {
    padding-top: 40px;
    max-width: 100%;
}
.logo {
    width: 100px;
    height: 66.61px; 
}

.textContainer h1 {
    
    color: #EAEAEA;
}

.formContainer {
    margin: auto;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(18,18,18,0.5);
    border-radius: 10px;
    width: 50%;
}

.formContainer p{
   text-align: center;
   color: #EAEAEA;
   font-family: 'Zilla Slab', serif;
   font-style: normal;
   font-size: 1.2em;
   font-weight: 400;
   padding-left: 2px;
   padding-right: 2px;
}


.emailInput {
    background: #121212;
    width:675px;
    max-width: 70%;
    height: 30px;
    color: #EAEAEA;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.successFlex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding-bottom: 15px;
}

.button {
    max-width: 100%;
    background: #121212;
    border: 1px solid #740000;
    /* width: 366px; */
    height: 39px;
    font-family: 'Zilla Slab', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #EAEAEA;
    cursor: pointer;
}