.container {
    background-color: #3A3A3A;
    border-bottom: 3px solid #740000;
    padding-top: 2px;
    height: 969px;
}

.signup {
    margin: 60px auto;
    width:675px;
    max-width: 70%;
    
}

.form {
    display: flex;
    flex-direction: column;
    
}

.form label {
    font-family: 'Zilla Slab', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.25em;
    color: #EAEAEA;
}

.form input {
    background: #121212;
    max-width: 100%;
    width:675px;
    height: 50px;
    margin-bottom: 33px;
    
}
.button{
    display: flex;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 30px;
}
.form button {
    background: #121212;
    border: 1px solid #740000;
    width: 446px;
    height: 59px;
    font-family: 'Zilla Slab', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #EAEAEA;
}


.flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex a{
    font-family: 'Zilla Slab', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.25em;
    text-align: center;
    text-decoration-line: underline;
    color: #EAEAEA;
    cursor: pointer;
    padding: 20px;
}

.checkboxContainer {
    padding-top: 31px;
}


/* Will need to add a toggle state so that the check functionality works OR will need to delete the 
    appearance */

.checkboxContainer input[type="checkbox"] {
    width: 25px;
    height: 25px;
    margin-left: 26px;
    vertical-align: middle;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 3px;
    border: 1px solid #000000;
    background-color: #121212;
  }


.label {
    margin-left: 80px;
    margin-top: -60px;
}

.label label {
    font-family: 'Zilla Slab';
    font-style: normal;
    font-weight: 400;
    font-size: 1.5em;
    color: #EAEAEA;
}


.text h3{
    font-family: 'Zilla Slab', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2em;
    text-align: center;
    color: #EAEAEA;
}

@media only screen and (max-width:380px) {
    .button{
        padding-top: 40px;
    }

    .flex a{
        padding: 0px;
    }

    .checkboxContainer {
        padding-top: 21px;
    }

    .label {
        margin-left: 80px;
        margin-top: -65px;
    }
}